html {
  overflow: hidden !important;
  font-size: 16px !important;
}

::-webkit-scrollbar {
  width: 15px;

  background: var(--scrollbar-background);

  &-track,
  &-corner {
    border-left: 1px solid;

    background: var(--scrollbar-background);
    border-left-color: var(--scrollbar-background);
  }
  &-thumb {
    border: solid 3px;
    border-radius: 7px;

    background: var(--scrollbar-color);
    border-color: var(--scrollbar-background);

    &:hover {
      background: var(--scrollbar-hover);
    }
  }
}

.root-card {
  height: 100%;
  overflow: hidden;
}

.v-card.flex-card {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.v-data-table.v-data-table--fixed-header {
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  > .v-data-table__wrapper {
    height: 100%;
  }
}

.v-data-table {
  .v-card > & {
    border-radius: 0 !important;
  }

  .v-data-table__expanded.v-data-table__expanded__content {
    box-shadow: none !important;
  }

  tbody td {
    > .v-text-field.v-text-field--enclosed:not(.v-text-field--outlined) > .v-input__control > .v-input__slot {
      padding: 0;
    }

    > .v-text-field:not(.v-textarea) {
      input,
      .v-select__selection {
        font-size: 14px;
      }
    }

    // Extra Styling to highlight textfields on focus
    > .v-text-field:not(.v-textarea):not(.v-input--is-readonly) .v-text-field__slot:focus-within::after {
      content: '';
      width: calc(100% + 16px);
      height: calc(100% + 4px);
      top: -2px;
      left: -8px;

      position: absolute;
      pointer-events: none;

      border: solid var(--v-primary-base) 1px;
      border-radius: 4px;
    }
  }
}

.v-data-table.bordered {
  td,
  th {
    border-right: thin solid var(--table-border);
  }

  tr:last-child > * {
    border-bottom: solid thin var(--table-border);
  }

  .v-card > &:not(.bordered-right) tr > *:last-child {
    border-right: 0;
  }

  .v-card > & tbody:last-child > *:last-child > * {
    border-bottom: 0;
  }
}

.v-data-table.no-hover {
  tr:hover {
    background: transparent !important;
  }
}

// .v-select.v-input--is-readonly {
//   .v-input__append-inner {
//     opacity: 0;
//   }
// }

// input[type='number'] {
//   -moz-appearance: textfield;

//   &:focus:not(:read-only) {
//     -moz-appearance: initial;
//   }
// }

.simple-input,
.simple-input input {
  &::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
  }
  &[type='number'] {
    -moz-appearance: textfield !important;
  }

  &:focus {
    outline: none;
  }

  .theme--dark & {
    color: white;
  }
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.nowrap {
  white-space: nowrap;
  flex-wrap: nowrap;
}

.sticky-list .v-select-list,
.sticky-list {
  padding-top: 0px !important;

  .v-subheader {
    position: sticky;
    top: 0px;

    z-index: 2;
    background: var(--default-background);

    border-bottom: solid thin var(--table-border);
  }
}

.v-card__title {
  height: 64px;
  .v-input,
  & > button,
  & > i,
  & > span,
  & > span[tooltip] {
    margin-top: -8px !important;
    margin-bottom: -8px !important;
  }
}

.v-card .v-card__title {
  color: var(--v-primary-base);
}

.v-expansion-panel .v-expansion-panel-header {
  color: var(--v-primary-base);

  font-weight: bold;
  font-size: 16pt;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  display: block !important;
}

.no-events {
  pointer-events: none;
}

.v-input--checkbox.centered {
  .v-input__control {
    margin: auto;
  }

  .v-input--selection-controls__input {
    margin-right: 0 !important;
  }
}

// -------------------------------
// GENERAL CLASSES

.green-mode {
  $color: rgb(19, 166, 68);
  outline: solid $color 4px;
  outline-offset: -4px;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color;
    opacity: 0.2;
  }
}

.nowrap {
  white-space: nowrap;
}

.wrap-text {
  overflow-wrap: anywhere;
}

.title-cell {
  max-width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

p {
  margin: 0px !important;
  padding: 0px !important;
}

// -------------------------------

.markdown {
  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    overflow: hidden;

    td,
    th {
      min-width: 1em;
      border: 2px solid #ced4da;
      padding: 3px 5px;
      vertical-align: top;
      box-sizing: border-box;
      position: relative;

      > * {
        margin-bottom: 0;
      }
    }

    th {
      font-weight: bold;
      text-align: left;
      background-color: #f1f3f5;
    }

    .selectedCell:after {
      z-index: 2;
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(200, 200, 255, 0.4);
      pointer-events: none;
    }

    .column-resize-handle {
      position: absolute;
      right: -2px;
      top: 0;
      bottom: -2px;
      width: 4px;
      background-color: #adf;
      pointer-events: none;
    }

    p {
      margin: 0;
    }
  }

  img {
    max-width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
}

.markdown_light {
  p {
    color: rgb(33, 33, 33);
  }
}

.markdown_dark {
  p {
    color: white !important;
  }
}

// -------------------------------

.body-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;

  max-height: calc(100vh - 210px);
}

// -------------------------------
// form input

.input {
  margin-bottom: 20px;
}

.reader_text {
  display: flex;
  align-items: center;

  font-size: 12pt;
  height: 40px;
}
