version: "3.6"

services:
  pgadmin:
    image: dpage/pgadmin4
    container_name: ${PROJECT_SUFFIX}_pgadmin
    networks:
      - default
    restart: always
    depends_on:
      - db
    env_file:
      - .env
    environment:
      - SCRIPT_NAME=/pgadmin
      - PGADMIN_DEFAULT_PASSWORD
    labels:
      - traefik.enable=true
      - traefik.http.routers.pgadmin.entrypoints=web
      - traefik.http.routers.pgadmin.entrypoints=websecure
      - traefik.http.routers.pgadmin.tls=true
      - traefik.http.routers.pgadmin.rule=Host(`${DOMAIN}`) && PathPrefix(`/pgadmin`)
    volumes:
      - pgadmin:/var/lib/pgadmin
    logging:
      options:
        max-size: 100M

  backend:
    environment:
      - OAUTH_CLIENT_SECRET
      - SENTRY_DSN
      - SNOWFLAKE_USER
      - SNOWFLAKE_PASSWORD
      - ENV
      - API_KEY

  frontend:
    environment:
      - ENV
    build:
      args:
        - ENV

  worker:
    container_name: ${PROJECT_SUFFIX}_worker
    build:
      context: ./worker
      dockerfile: worker.dockerfile
      args:
        - API_KEY=${API_KEY}
    # profiles:
    #   - prod
    networks:
      - default
    depends_on:
      - backend
    env_file:
      - .env
    restart: always
    command: cron -f
    logging:
      options:
        max-size: 100M

volumes:
  pgadmin:


