version: "3.6"

services:
  traefik:
    labels:
      - traefik.http.routers.traefik.middlewares=auth

  db:
    environment:
      - POSTGRES_PASSWORD
    shm_size: 1g
    command: postgres -c 'max_connections=500'


  backend:
    environment:
      - POSTGRES_PASSWORD
      - OAUTH_SECRET
      - SERVER_NAME
      - SECRET_KEY
      - API_KEY
      - SENTRY_DSN
      - ENV
      - KAFKA_PASSWORD
      - WORKERS_PER_CORE=2
      - SNOWFLAKE_ACCOUNT
      - SNOWFLAKE_DB
      - SNOWFLAKE_SCHEMA
      - SNOWFLAKE_USER
      - SNOWFLAKE_PASSWORD

  frontend:
    environment:
      - SENTRY_DSN
      - ENV
    build:
      args:
        - ENV

  # worker:
  #   container_name: ${PROJECT_SUFFIX}_worker
  #   build:
  #     context: ./worker
  #     dockerfile: worker.dockerfile
  #     args:
  #       - API_KEY
  #   networks:
  #     - default
  #   restart: always
  #   command: cron -f
  #   logging:
  #     options:
  #       max-size: 100M
