version: "3.6"

services:
  dockerproxy:
    restart: "no"

  traefik:
    restart: "no"

  db:
    restart: "no"
    environment:
      - POSTGRES_PASSWORD=password

  redis:
    restart: "no"

  backend:
    restart: "no"
    environment:
      - POSTGRES_PASSWORD=password
    env_file:
      - .env.local
    build:
      dockerfile: local.dockerfile
    volumes:
      - ./backend:/app
      - ./frontend/client:/client
    command: bash -c "bash /app/prestart.sh && pip install debugpy && python -m debugpy --listen 0.0.0.0:5678 -m uvicorn app.main:app --proxy-headers --reload --host 0.0.0.0 --port 80"
    # command: bash -c "while true; do sleep 1; done" # Infinite loop to keep container live doing nothing
    ports:
        - 5678:5678

  frontend:
    restart: "no"
    volumes:
      - ./frontend:/usr/src/app
    command: bash -c "npm install && npm run dev"
