image: docker:latest
services:
  - docker:dind

stages:
  - build
  - deploy

.build:
  stage: build
  script: sudo docker-compose -f docker-compose.yml -f docker-compose.prod.yml build

.deploy:
  stage: deploy
  script: sudo docker-compose -f docker-compose.yml -f docker-compose.prod.yml up -d
  after_script:
    - sudo docker image prune -f

build-prod:
  extends:
    - .build
  only:
    - main
  tags:
    - prod

deploy-prod:
  extends:
    - .deploy
  only:
    - main
  tags:
    - prod

build-uat:
  extends:
    - .build
  only:
    - uat
  tags:
    - uat

deploy-uat:
  extends:
    - .deploy
  only:
    - uat
  tags:
    - uat
