[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
alembic = "*"
psycopg2-binary = "*"
pyjwt = "*"
pytz = "*"
sqlalchemy = "<2"
requests = "*"
sqlalchemy-utils = "*"
redis = "*"
snowflake-sqlalchemy = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"

[requires]
python_version = "3.11"
