.theme--dark {
  --scrollbar-color: #3e3e3e;
  --scrollbar-background: #202020;
  --scrollbar-hover: rgba(255, 255, 255, 0.3);

  --default-background: #1e1e1e;
  --table-border: rgba(255, 255, 255, 0.12);
}

.theme--light {
  --scrollbar-color: #c1c1c1;
  --scrollbar-background: #ffffff;
  --scrollbar-hover: rgba(0, 0, 0, 0.5);

  --default-background: #ffffff;
  --table-border: rgba(0, 0, 0, 0.12);
}
